.header {
    font-size: 30px;
    text-align: center;
}

.body {
    text-align: center;
}

.options {
    text-align: center;
}

.results {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#coin {
    text-align: center;
    margin: 2%;
}

.row {
    width: 100%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    text-align: center;
    overflow: auto;
}

